@model IEnumerable<agenda.Models.appointments>

@{
    ViewBag.Title = "Index";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brokers.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.lastname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dateHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brokers.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.lastname)
            </td>
            <td>
                @Html.ActionLink("Suppimer", "Delete", new { id = item.idappointment })
            </td>
        </tr>
    }

</table>
