<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ImmOra</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body id="blop" class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style=" background-color: #bd7c57;">
        @Html.ActionLink("ImmOra", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                        <i class=" iconHome fas fa-home"></i> Accueil
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ajout d'un utilisateur
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Ajouter un Client", "addCustomers", "Customers", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Ajouter un Courtier", "addBrokers", "Brokers", new { area = "" }, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Ajouter un Rendez-Vous", "addAppointments", "Appointments", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Liste des utilisateurs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Liste des clients", "listCustomers", "Customers", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Liste des courtiers", "listBrokers", "Brokers", new { area = "" }, new { @class = "dropdown-item" })
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="footer fixed-bottom mt-auto py-3" style="color:white; text-align:center">
        <p>&copy; @DateTime.Now.Year - DOTNET La Manu</p>
    </footer>

    <script src="https://kit.fontawesome.com/fe06ecf098.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>